body {
    font-family: Arial, sans-serif;
    background: #FFFFFF;
    padding: 20px;
    color:#1F3A5F ;
}

/* محتوى الدرس */
.lesson-content {
    display: none;
    background: #F5F7FA; 
    padding: 15px;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
}

/* بلوك الدرس */
.lesson-block {
    background: #1F3A5F;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #1F3A5F;
    color:#1F2937 ;
    
}

.lesson-block:hover {
    background: #2C5CC5;
}

/* الشريط العلوي */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#1F3A5F;
    color: #E2E8F0;
    padding: 12px 20px;
    border-radius: 6px;
}

/* لوجو الهيدر */
.top-bar img.top-logo {
    height: 60px; 
    margin-left: 10px;
    margin-right: auto;
}

/* لينكات النافبار */
.top-bar nav a {
    color: #E2E8F0;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.top-bar nav a:hover {
    color: #2C5CC5;
}

/* اللوجو الرئيسي */
.main-logo {
    height: 200px;     
    width: auto;       
    display: block;    
    margin-left: 0;
    margin-right: auto;  
    margin-top: 30px;
     border-radius: 10%;

}

